<div ng-controller="ProfileController as profile">
   
    {{ profile.message }}
    
    <form name="profileForm"
          ng-submit="profile.submit(profileForm.$valid)"
          novalidate>
      
      <input type="number" name="favoriteNumber" 
             ng-model="profile.number"
             required min="1" />
      
      <label for="nom">Matricule RH :</label>
			<input type="text" id="matRH" placeholder="Entrez le nom" ng-model="user.matRH" required><br><br>

      <label for="prenom">Nom :</label>
      <input type="text" id="nom" placeholder="Entrez le nom" ng-model="user.nom" required><br><br>

      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" placeholder="Entrez le prénom" ng-model="user.prenom" required><br><br>
      
      <input type="submit" value="Save" />      
    </form>
  </div>